

{% load static %}



<!DOCTYPE html>
<html lang="en">

<head>
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<title>AllSpot</title>
	<!-- Google Font Family Link Start -->
	<link rel="stylesheet" type="text/css" href="https://fonts.googleapis.com/css?family=Montserrat:400,700">
	<link rel="stylesheet" type="text/css" href="https://fonts.googleapis.com/css?family=Open+Sans:400,700,800">
	<!-- Google Font Family Link End -->

	<!-- CSS -->
	<link href="{% static 'css/iconmoon.css' %}" rel="stylesheet">
	<link href="{% static 'css/style.css' %}" rel="stylesheet">
	<link href="{% static 'css/cs-foodbakery-plugin.css' %}" rel="stylesheet">
	<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
	<link rel="stylesheet" href="{% static 'css/custom.css' %}">
	<link href="{% static 'css/bootstrap-slider.css' %}" rel="stylesheet">
	
	<!-- JAVASCRIPT -->
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
	<script src="{% static 'js/modernizr.js' %}"></script>
	<script src="{% static 'js/bootstrap.js' %}"></script>

	<style>
		body, .main-section p, .mce-content-body p{
			font:Normal  14px/24px "Open Sans", sans-serif;letter-spacing: 0px;text-transform: none;color: #515151 !important;
		}
	</style>
</head>

<body>
	<!--Main Wrapper-->
	<div class="wrapper">
		<!-- Header Start -->
		<header id="header">
			<div class="main-header">
				<div class="container">
					<div class="row">
						<div class="col-lg-8 col-md-8 col-sm-12 col-xs-12">
							<div class="logo">
								<figure>
									<a href="{% url 'home' %}" class="light-logo">
										<img src="{% static 'logo/logo_branco.png' %}" alt="AllSpot" width="160">
									</a>
								</figure>
							</div>
							<div class="main-nav">
									<nav id="site-navigation" class="main-navigation">
										<ul>
											<li>
												<a href="{% url 'about_us' %}">Sobre Nós</a>																								
											</li>
											<li><a href="listings.html">Restaurants</a></li>
											<li>
												<a href="">Contactos e FAQ</a>
											</li>
											<li>
												<a href="#">Blogs</a>
											</li>
										</ul>
									</nav> 
								</div>
							
							<div class="main-location" style="margin-left: 10px;">
								<ul>
									<li class="location-has-children choose-location">
										<form action="#">
											<input type="text" value="" name="location" placeholder="Introduza a sua localização" autocomplete="off">
											<span id="foodbakery_radius_location_open" class="foodbakery-radius-location"><i class="icon-target5"></i></span>
										</form>
										
									</li>
								</ul>
							</div>
						</div>
						<div class="col-lg-4 col-md-4 col-sm-12 col-xs-12" style="margin-top: 12px;">
							<div class="login-option">
								{% if user.is_authenticated %}
								<a class="cs-color cs-popup-joinus-btn login-popup" href="{% url 'myAccount' %}">Conta</a>
								<a class="cs-color cs-popup-joinus-btn login-popup text-danger" href="{% url 'logout' %}">Logout</a>
								{% else %}
								<a class="cs-color cs-popup-joinus-btn login-popup" href="{% url 'login' %}">Entrar</a>
								<a class="cs-color cs-popup-joinus-btn login-popup" href="{% url 'registerUser' %}">Registar</a>
								<a class="get-start-btn" href="{% url 'registerVendor' %}">Registar Serviço</a>
								{% endif %}
							</div>
						</div>
					</div>
				</div>
			</div>
		</header>



        
{% block content %}



{% endblock %}


<!-- Footer Start -->
<footer id="footer" class="footer-style-2">
    <div class="footer-widget">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                    <div class="widget widget-newsletter">
                        <div class="widget-title">
                            <h5>Subscreva ao nosso Newsletter</h5>
                        </div>
                        <div class="fieldset">
                            <form action="#">
                                <div class="field-holder">
                                    <label>
                                        <i class=" icon-envelope3"></i>
                                        <input type="text" class="field-input" placeholder="Escreva o seu Email">
                                    </label>
                                </div>
                                <div class="field-holder btn-holder">
                                    <input class="subscribe-btn bgcolor" type="submit" value="Sign Up">
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="copyright-sec">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                    <div class="copyright-inner">
                        <div class="copy-right">
                            <p>© 2023 AllSpot. All Rights Reserved.</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div> <!-- /.cs-copyright -->
</footer>
<!-- Footer End -->
</div>

<!-- Modal Popup End -->
<script src="{% static 'js/scripts.js' %}"></script>
<script src="{% static 'js/functions.js' %}"></script>
</body>

</html>

