{% extends 'includes/base.html' %}
{% load static %}

{% block content %}


<!-- Header End -->
<div class="sub-header align-center">
    <div class="subheader-holder" style=" background:url(assets/extra-images/subheader-img2-1.jpg)  no-repeat ; background-size: cover; padding-top: 60px; padding-bottom: 30px; margin-top: 0px; margin-bottom: 0px; min-height: 186px !important;">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                    <div class="text-holder">
                        <div class="page-title ">
                            <h1>Sobre Nós</h1>
                        </div>
                        
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="breadcrumbs align-left">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                    <ul>
                        <li><a href="{% url 'home' %}">Página Incial</a></li>
                        <li class="active">Sobre Nós</li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- Main Section Start -->
<div class="main-section">
    <!-- How-it-Works Page Start -->
    <div class="page-section  cs-page-sec-184984  nopadding cs-nomargin" style="padding-top: 60px; padding-bottom: 30px;">
        <div class="container">
            <div class="row">
                <div class="section-fullwidth col-lg-12 col-md-12 col-sm-12 col-xs-12">
                    <div class="row">
                        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                            <div class="image-frame fancy align-left">
                                <div class="row">
                                    <div class="col-lg-5 col-md-5 col-sm-12 col-xs-12">
                                        <div class="img-holder">
                                            <figure>
                                                <img alt="" src="{% static 'extra-images/img-frame1.jpg' %}">
                                            </figure>
                                        </div>
                                    </div>
                                    <div class="col-lg-7 col-md-7 col-sm-12 col-xs-12">
                                        <div class="text-holder">
                                            <h2>Conheça a Allspot - O seu destino para reservas fáceis e rápidas em diversos locais.</h2>
                                            Na Allspot, estamos comprometidos em tornar a sua vida mais fácil e conveniente ao oferecer uma plataforma online para reservas em uma ampla variedade de locais, desde restaurantes a museus, cabeleireiros a pavilhões desportivos e muito mais. Com apenas alguns cliques, você pode reservar facilmente o seu próximo passeio e garantir o seu lugar. 
                                            <br>
                                            <br>
                                            A nossa missão é tornar a reserva de locais tão simples quanto possível, para que você possa gastar mais tempo aproveitando a sua experiência e menos tempo se preocupando em como garantir o seu lugar. Junte-se à Allspot hoje mesmo e experimente o nosso serviço de reservas de alta qualidade.
                                            <br>
                                            <br>
                                            <div class="default-btn">
                                                <a class="bgcolor" style="background-color:#c33332 !important;" href="#">Saiba Mais</a>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="page-section  nopadding cs-nomargin" style="padding-top: 60px; padding-bottom: 30px; background: #ffffff;">
        <div class="container">
            <div class="row">
                <div class="section-fullwidth col-lg-12 col-md-12 col-sm-12 col-xs-12">
                    <div class="row">
                        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                            <div class="cs-section-title" style="text-align:center!important;">
                                <h2 style="color:#2f313a !important;">Os Nossos Serviços</h2>
                                <span style="color:#a5a5a5;">Oferecemos reservas em várias categorias</span>
                            </div>
                        </div>
                        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                            <div class="cs-icon-boxes-listtop-center">
                                <div class="row">
                                    <div class="col-lg-3 col-md-3 col-sm-6 col-xs-12">
                                        <div class="icon-boxes fancy top-center">
                                            <div class="img-holder">
                                                <figure>
                                                    <a href="#">
                                                        <i class="cs-color icon-location_city icon-md" style="color:#a4a6ad !important;line-height:50px;"></i>
                                                    </a>
                                                </figure>
                                            </div>
                                            <div class="text-holder">
                                                <h3 style="color:#2f313a !important;">
                                                    <a href="#" style="color:#2f313a !important;">Museus</a>
                                                </h3>
                                                <span style="color: #a1a3aa;"></span>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-lg-3 col-md-3 col-sm-6 col-xs-12">
                                        <div class="icon-boxes fancy top-center">
                                            <div class="img-holder">
                                                <figure>
                                                    <a href="#">
                                                        <i class="cs-color icon-spoon-knife icon-md" style="color:#a4a6ad !important;line-height:50px;"></i>
                                                    </a>
                                                </figure>
                                            </div>
                                            <div class="text-holder">
                                                <h3 style="color:#2f313a !important;">
                                                    <a href="#" style="color:#2f313a !important;">Restaurantes</a>
                                                </h3>
                                                <span style="color: #a1a3aa;"></span>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-lg-3 col-md-3 col-sm-6 col-xs-12">
                                        <div class="icon-boxes fancy top-center">
                                            <div class="img-holder">
                                                <figure>
                                                    <a href="#">
                                                        <i class="cs-color icon-circle icon-md" style="color:#a4a6ad !important;line-height:50px;"></i>
                                                    </a>
                                                </figure>
                                            </div>
                                            <div class="text-holder">
                                                <h3 style="color:#2f313a !important;">
                                                    <a href="#" style="color:#2f313a !important;">Eventos Desportivos</a>
                                                </h3>
                                                <span style="color: #a1a3aa;"></span>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-lg-3 col-md-3 col-sm-6 col-xs-12">
                                        <div class="icon-boxes fancy top-center">
                                            <div class="img-holder">
                                                <figure>
                                                    <a href="#">
                                                        <i class="cs-color icon-square icon-md" style="color:#a4a6ad !important;line-height:50px;"></i>
                                                    </a>
                                                </figure>
                                            </div>
                                            <div class="text-holder">
                                                <h3 style="color:#2f313a !important;">
                                                    <a href="#" style="color:#2f313a !important;">cabeleireiros</a>
                                                </h3>
                                                <span style="color: #a1a3aa;"></span>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    
    <!-- How-it-Works Page End -->
</div>
<!-- Main Section End -->


{% endblock %}